<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  
  <!-- configuration Spring -->
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="pamdao" type="Pam.Dao.Service.PamDaoEF5, pam-dao"/>
    </objects>
  </spring>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!-- chaîne de connexion à la base de données [dbam_ef5] -->
  <connectionStrings>
    <add name="DbPamContext"
      connectionString="Server=localhost;Port=3307;Database=dbpam_ef5;Uid=root;Pwd=sictiam;"
      providerName="rdvmedecins-provider" />
  </connectionStrings>
  <!-- le factory provider de MySQL -->
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="rdvmedecins-provider" description=".Net
          Framework Data Provider for MySQL"
        type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0,
          Culture=neutral, PublicKeyToken=C5687FC88969C44D"
          />
    </DbProviderFactories>
  </system.data>
</configuration>