@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trouve</title>
</head>
<body>
    <div>
        Le client @ViewData["Nom"] a bien été trouvé et a @ViewData["Age"] ans.
    </div>
</body>

